@import variables

// create gutters and use EMs and look out for opportunities for mixins
// ====================================================================

// General

body
    font-family: Helvetica
    background: $white

// Site Header

.site-header
    background: $dark-grey
    color: #fff
    
    .navigation ul
        display: flex
        list-style-type: none
        margin: 0
        padding: 0
        
        li
            display: block
            width: 100%
            text-align: center
            width: 20%
            
            &:first-child
               width: 40%
            
            a
                display: block
                width: 100%
                padding: 1em 0
                color: $white
                transition: all 100ms
                text-decoration: none
                
                &.active
                    background: $white
                    color: $dark-grey
                
                &:hover
                    background: $white
                    color: $dark-grey

// Page Component

.component-page
    padding: 10px 2%
    

// Classes

.edit-icon
    font-size: 14px
    margin-left: 10px
    cursor: pointer
    
    &:hover
        color: $color-primary

// forms

.form
    .form-field
    
        .form-input
            display: block
            padding: 10px
            margin-bottom: 5px
        
        .form-error-message
            color: $error-red
            padding-bottom: 5px
    
        &.form-error input
            box-shadow: 0 0 5px $error-red
    
    .form-submit
        border: none
        padding: 10px
        color: $white
        background-color: $color-primary
        transition: all 200ms
        cursor: pointer
        
        &:hover
            background-color: $color-primary-light