@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import 'variables';
@import 'mixins';

//Elements

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $font-size;
    font-family: $font-family;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    margin: $gutter-lg 0 $gutter 0;
}

p {
    margin: $gutter 0;
}

a {
    color: $primary;
    transition: $transition;
    text-decoration: none;
    
    &:hover {
        color: $primary-light;
    }
}

address {
    font-style: normal;
    margin: $gutter 0;
}

input, textarea {
    margin: $gutter-xs 0;
    padding: $gutter;
    width: 100%;
    color: $black;
    border: $border;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    border-radius: $radius;
    
    &::placeholder {
        color: $gray-light;
    }
    
    &:focus {
        box-shadow: 0 0 3px $primary;
        outline: none;
    }
}

select {
    margin: $gutter-sm 0;
    padding: $gutter;
    width: 100%;
    height: 2.5em;
    font-family: $font-family;
}

//Header

#header {

    .header-nav > ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        list-style-type: none;
        
        > li {
            display: block;
            width: 100%;
            
            > a {
                display: block;
                padding: $gutter-lg 0;
                color: $white;
                background: $black;
                text-align: center;
                
                &:hover {
                    background: $primary;
                }
            }
            
            > a.active {
                background: $primary;
            }
        }
    }
}

//Main Menu

#main-menu {
    width: 100%;
    height: 100%;
    background: #222;
    padding: 0;
    
    > ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        
        > li {
            display: block;
            width: 100%;
            border-bottom: 1px $black solid;
            
            > a {
                display: block;
                padding: $gutter-lg $gutter-xl;
                color: $gray-xlight;
                font-size: 2rem;
                text-align: left;
                
                > i {
                    float: right;
                }
                
                &:hover {
                    background: $primary;
                    color: $white;
                }
            }
        }
    }
    
    > h5 {
        color: $gray-dark;
        text-align: left;
        font-weight: normal;
        margin: 0;
        padding: $gutter-lg $gutter-xl;
        border-bottom: 1px $black solid;
    }
}

//Containers

.content {
    margin: 0 auto;
    padding: $gutter;
    
    @include media-xs {
        width: 90%;
    }
    
    @include media-sm {
        width: 80%;
    }
    
    @include media-md {
        width: 70%;
    }
    
    @include media-lg {
        width: 60%;
    }
    
    @include media-xl-plus {
        width: 50%;
    }
}

//Cards

.card {
    box-shadow: 0 2px 3px $gray-transparent, 0 0 0 1px $gray-transparent;
    
    > header {
        border-bottom: $border;
        padding: $gutter-lg;
        
        > h1 {
            margin: 0;
        }
    }
    
    > section {
        padding: $gutter-lg;
    }
    
    > footer {
        border-top: $border;
        padding: $gutter-lg;
        
        > .btn-group .btn {
            margin: 0;
        }
    }
}

//Forms

.form {
    padding: $gutter-lg;
    
    > form {
    
        > .field {
            margin: $gutter-xs 0;
            
            > .input-message {
                display: inline-block;
                font-style: italic;
                margin-top: $gutter;
            }
            
            > .input {
                > .input-error {
                    border-color: $error;
                    &:focus {
                        box-shadow: 0 0 3px $error;
                        outline: none;
                    }
                }
            }
            
            > .input-error-message {
                display: inline-block;
                color: $error;
            }
        }
    }
    
    > .server-error {
        color: $error;
        margin: $gutter 0;
    }
}

//Index

.index {
    padding: $gutter-lg;
}

//Lists

.link-list {
    box-shadow: 0 2px 3px $gray-transparent, 0 0 0 1px $gray-transparent;
    padding: 0;
    
    > li {
        list-style: none;
        border-bottom: $border;
        
        > a {
            display: block;
            padding: $gutter-lg;
            color: $gray-dark;
            
            &.icon-link {
                display: flex;
                justify-content: space-between;
                
                > svg {
                    color: $white;
                }
            }
            
            &:hover {
                color: $white;
                background: $primary;
            }
        }
        
        &:last-child {
            border-bottom: none;
        }
    }
}

//Buttons

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    > select {
        width: auto;
    }
}

.btn {
    border: none;
    padding: $gutter $gutter-lg;
    margin: $gutter 0;
    color: $white;
    text-decoration: none;
    transition: $transition;
    line-height: normal;
    border-radius: $radius;
    
    > .icon-front {
        display: none;
        margin-right: $gutter-sm;
        
        @include media-xs-plus {
            display: inline-block;
        }
    }
    
    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.btn-primary {
    background: $primary;
    
    &:hover {
        background: $primary-light;
    }
}

.btn-cancel {
    background: $gray;
    
    &:hover {
        background: $gray-light;
    }
}

.btn-danger {
    background: $error;
    
    &:hover {
        background: $error-light;
    }
}

.btn-warning {
    background: $warning;
    
    &:hover {
        background: $warning-light;
    }
}

.icon-button-success {
    color: $success;
    font-size: 2.5rem;
    padding: $gutter;
    margin-top: $gutter;
    
    &:hover {
        color: $success-light;
    }
}

//Messages

.flash {
    display: flex;
    justify-content: space-between;
    padding: $gutter-lg;
    background: $gray;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    
    > p {
        margin: $gutter-sm $gutter;
    }
    
    > button {
        transition: $transition;
        margin: 0;
        color: $white;
        padding: $gutter-sm $gutter;
        border: none;
        background: transparent;
        
        &:hover {
            opacity: .75;
            cursor: pointer;
        }
    }
}

.flash-message {
    background: $success;
}

.flash-error {
    background: $error;
}

//Content

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//Maps
#map {
    width: 100%;
    height: 40rem;
    
    @include media-xs {
        height: 50rem;
    }

    @include media-sm-plus {
        height: 60rem;
    }
}


//General Classes

.invisible {
    display: none !important;
}

.warning {
    color: $warning;
}

.text-center {
    text-align: center
}

.huge-center-icon {
    margin: 2rem auto;
    text-align: center;
    font-size: 5rem;
}

//Other

//remove hover state as well?
[disabled] {
    opacity: .5;
    cursor: not-allowed !important;
}