//Buttons

.button {
    border: none;
    padding: $gutter $gutter-lg;
    margin: $gutter 0;
    color: $white;
    text-decoration: none;
    transition: $transition;
    line-height: normal;
    border-radius: $radius;
    
    > .icon-front {
        display: none;
        margin-right: $gutter-sm;
        
        @include media-xs-plus {
            display: inline-block;
        }
    }
    
    &.primary {
        background: $primary;
        
        &:hover {
            background: $primary-light;
        }
    }
    
    &.cancel {
        background: $gray;
        
        &:hover {
            background: $gray-light;
        }
    }
    
    &.success {
        background: $success;
        
        &:hover {
            background: $success-light;
        }
    }
    
    &.danger {
        background: $error;
        
        &:hover {
            background: $error-light;
        }
    }
    
    &.warning {
        background: $warning;
        
        &:hover {
            background: $warning-light;
        }
    }
    
    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    > select {
        width: auto;
    }
}

.button-toggle {
    > button {
        border: none;
        padding: $gutter $gutter-lg;
        margin: $gutter 0;
        color: $white;
        text-decoration: none;
        transition: $transition;
        line-height: normal;
        background: $gray;
        cursor: pointer;
    
        &:hover {
            background: $gray-light;
        }
        
        &.active {
            background: $primary;
        
            &:hover {
                background: $primary-light;
            }
        }
    }
}

// Icons

.icon-link {
    font-size: 2.5rem;
    padding: $gutter;
    margin-top: $gutter;
    cursor: pointer;
    
    &.primary {
        color: $primary;
        
        &:hover {
            color: $primary-light;
        }
    }
    
    &.success {
        color: $success;
        
        &:hover {
            color: $success-light;
        }
    }
    
    &.danger {
        color: $error;
        
        &:hover {
            color: $error-light;
        }
    }
    
    &.cancel {
        color: $gray;
        
        &:hover {
            color: $gray-light;
        }
    }
}

.toggle {
    display: flex;
    margin-top: 1rem;
    
    > label {
        margin-right: 1rem;
        font-size: $font-size;
    }
    
    > span {
        cursor: pointer;
        font-size: 1.8rem;
        
        .fa-toggle-off {
            color: $gray;
        }
        
        .fa-toggle-on {
            color: $success;
        }
    }
}