//Buttons

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    > select {
        width: auto;
    }
}

.btn {
    border: none;
    padding: $gutter $gutter-lg;
    margin: $gutter 0;
    color: $white;
    text-decoration: none;
    transition: $transition;
    line-height: normal;
    border-radius: $radius;
    
    > .icon-front {
        display: none;
        margin-right: $gutter-sm;
        
        @include media-xs-plus {
            display: inline-block;
        }
    }
    
    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.btn-primary {
    background: $primary;
    
    &:hover {
        background: $primary-light;
    }
}

.btn-cancel {
    background: $gray;
    
    &:hover {
        background: $gray-light;
    }
}

.btn-success {
    background: $success;
    
    &:hover {
        background: $success-light;
    }
}

.btn-danger {
    background: $error;
    
    &:hover {
        background: $error-light;
    }
}

.btn-warning {
    background: $warning;
    
    &:hover {
        background: $warning-light;
    }
}

.icon-button-success {
    color: $success;
    font-size: 2.5rem;
    padding: $gutter;
    margin-top: $gutter;
    
    &:hover {
        color: $success-light;
    }
}

.icon-button-danger {
    color: $error;
    font-size: 2.5rem;
    padding: $gutter;
    margin-top: $gutter;
    
    &:hover {
        color: $error-light;
    }
}

.icon-button-primary {
    color: primary;
    font-size: 2.5rem;
    padding: $gutter;
    margin-top: $gutter;
    
    &:hover {
        color: $primary-light;
    }
}