//Lists

.link-list {
    box-shadow: 0 2px 3px $gray-transparent, 0 0 0 1px $gray-transparent;
    padding: 0;
    
    > li {
        list-style: none;
        border-bottom: $border;
        
        > a {
            display: block;
            padding: $gutter-lg;
            color: $gray-dark;
            
            &.with-icon {
                display: flex;
                justify-content: space-between;
            }
            
            &:hover {
                color: $white;
                background: $primary;
            }
        }
        
        &:last-child {
            border-bottom: none;
        }
    }
}