//Colors

$primary-dark: #1e80c6;
$primary: #2b90d9;
$primary-light: #3fa2e9;
$white: #fff;
$black: #111;
$gray-xdark: #333;
$gray-dark: #777;
$gray: #999;
$gray-light: #bbb;
$gray-xlight: #ddd;
$gray-transparent: rgba(10,10,10,.1);
$error-dark: #b73333;
$error: #da3c3c;
$error-light: #f25a5a;
$warning: #f17f42;
$warning-light: #ed8a55;
$success: #10a887;
$success-light: #14d7ac;

//Break Points

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1500px;

//Spacing

$gutter-xs: .25rem;
$gutter-sm: .5rem;
$gutter: 1rem;
$gutter-lg: 2rem;
$gutter-xl: 5rem;
$radius: .2rem;

//Borders

$border: .1rem $gray-xlight solid;
$border-dark: .1rem $black solid;

//Fonts

$font-size: 1.6rem;
$font-size-lg: 2rem;
$font-family: 'Roboto', sans-serif;

//Animations

$transition: 200ms all ease-in-out;